import turtle
drawing_board = turtle.Screen()
drawing_board.bgcolor("green")
drawing_board.title("Python Turtle")
turtle_instance =turtle.Turtle()

#KARE

for i in range(4):
    turtle_instance.forward(100)
    turtle_instance.left(90)

#ÇATIYA GEÇİŞ
turtle_instance.left(90)
turtle_instance.forward(100)
turtle_instance.right(90)

#ÇATI
for i in range(3):
    turtle_instance.forward(100)
    turtle_instance.left(120)
turtle.done()
